{% extends '../base.html' %}

{% block content %}
<h2>About DOMXSS Scanner</h2>
<p>After reading an article from German PHP Magazin about <a href="http://it-republik.de/php/artikel/DOMXSS---Angriffe-aus-dem-Nirgendwo-3565.html">DOM based XSS attacks</a>, I came up with the idea of building this online tool for scanning Web pages for potential DOM based XSS security vulnerabilities.</p>
<p>This tool is meant for site owners and Web masters to check their pages source code with DOM XSS sources and sinks being highlighted to facilitate code review.</p>
<p>DOMXSS Scanner does not try to assess the security of given pages and does not currently include scripts dynamically loaded from other scripts. Those scripts can be scanned by submitting their URLs manually.</p>
<hr>
<h2>DOMXSS Scanner Building Blocks</h2>
<p>DOMXSS Scanner is an application written in <a href="http://www.python.org/">Python</a> and <a href="https://developer.mozilla.org/en/javascript">JavaScript</a>. The <a href="https://github.com/yaph/domxssscanner">source code</a> is available on github.</p>
Building DOMXSS Scanner was straightforward thanks to the following great open source libraries:</p>
<ul>
<li><a href="http://www.crummy.com/software/BeautifulSoup/">Beautiful Soup Python HTML/XML parser</a></li>
<li><a href="http://jquery.com/">jQuery JavaScript Library</a></li>
<li><a href="http://960.gs/">960 CSS Grid System</a></li>
<li><a href="http://html5boilerplate.com/">HTML5 Boilerplate and included libraries</a></li>
<li><a href="http://code.google.com/appengine/docs/python/tools/webapp/">The webapp Framework</a> with <a href="http://www.djangoproject.com/">Django Templates</a></li>
</ul>

<p>This site uses icons from the <a href="http://www.woothemes.com/2009/02/wp-woothemes-ultimate-icon-set-first-release/">WP WooThemes Ultimate Icon Set</a> and runs on <a href="http://code.google.com/appengine/">Google App Engine</a>.</p>
<p>DOMXSSscanner.com has <a href="http://www.google.com/analytics/">Google Analytics</a> tracking enabled, if you wish you can <a href="http://tools.google.com/dlpage/gaoptout">opt out of Google Analytics</a> using the available browser extensions.</p>
<hr>

<a href="http://github.com/yaph/domxssscanner"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://assets2.github.com/img/abad93f42020b733148435e2cd92ce15c542d320?repo=&url=http%3A%2F%2Fs3.amazonaws.com%2Fgithub%2Fribbons%2Fforkme_right_green_007200.png&path=" alt="Fork domxsssxanner on GitHub"></a>
{% endblock %}