{% extends '../base.html' %}

{% block title %}Free Web Security Tools | DOMXSS Scanner{% endblock %}

{% block content %}
<h2>Free Web Security Tools</h2>
<p>This page lists free Web security tools that you can use to scan Web sites for security related issues or to protect yourself against attacks.</p>
<hr>
<h3>Web Security Tools for the Desktop</h3>
<ul>
<li><a href="http://w3af.sourceforge.net/">w3af Web Application Attack and Audit Framework</a></li>
<li><a href="http://code.google.com/p/skipfish/">skipfish web application security scanner</a></li>
<li><a href="http://www.cirt.net/nikto2">Nikto Open Source web server scanner</a></li>
<li><a href="http://www.owasp.org/index.php/Category:OWASP_WebScarab_Project">WebScarab security testing on web applications and web services</a></li>
<li><a href="http://www.owasp.org/index.php/JBroFuzz">JBroFuzz web application fuzzer</a></li>
<li><a href="http://www.parosproxy.org/">Paros web application security assessment</a></li>
</ul>
<hr>
<h3>Web Security Firefox Add-ons</h3>
<ul>
<li><a href="https://addons.mozilla.org/en-US/firefox/addon/noscript/">NoScript run executable code only from trusted domains</a></li>
</ul>
<hr>
<h3>Web Security Chrome Extensions</h3>
<ul>
<li><a href="https://chrome.google.com/extensions/detail/ghgabhipcejejjmhhchfonmamedcbeod?hl=en">Click&amp;Clean Delete your browsing history</a></li>
<li><a href="https://chrome.google.com/extensions/detail/odjhifogjcknibkahlpidmdajjpkkcfn?hl=en">NotScripts whitelist trusted sites</a></li>
</ul>
<hr>

{% endblock %}