{% extends 'post.html' %}

{% block title %}About DOM XSS Scanner | DOM XSS Scanner{% endblock %}

{% block header %}<h1 class="title">About DOM XSS Scanner</h1>{% endblock %}

{% block content %}
<p>After reading an article from German PHP Magazin about <a href="http://phpmagazin.de/DOMXSS-Angriffe-aus-dem-Nirgendwo-3565.html">DOM based XSS attacks</a>, I came up with the idea of building this online tool for scanning Web pages for potential DOM based cross-site scripting (XSS) security vulnerabilities.</p>
<p>This tool is meant for site owners and Web masters to check their pages source code with DOM XSS sources and sinks being highlighted to facilitate code review.</p>
<p>DOM XSS Scanner does not try to assess the security of given pages and does not currently include scripts dynamically loaded from other scripts. Those scripts can be scanned by submitting their URLs manually.</p>
<hr>
<h2>Improve DOM XSS Scanner</h2>
<p>The <a href="https://github.com/yaph/domxssscanner">source code</a> of DOM XSS Scanner is available on github. You can help improve the tool by contributing code, <a href="https://github.com/yaph/domxssscanner/issues">reporting bugs or proposing enhancements</a>.</p>
<hr>
<h2>DOM XSS Scanner Coverage</h2>
<p>Coverage of the DOM XSS Scanner tool elsewhere on the Web:</p>
<ul>
<li><a href="http://phpmagazin.de/DOMXSS-Scanner%3A-%26quot%3BDas-war-eine-spontane-Idee.%26quot%3B-058380.html">Interview in the online edition of German PHP Magazin</a></li>
</ul>
<hr>
<h2>DOM XSS Scanner Building Blocks</h2>
<p>DOM XSS Scanner is an application written in <a href="http://www.python.org/">Python</a> and <a href="https://developer.mozilla.org/en/javascript">JavaScript</a>.</p>
Building DOM XSS Scanner was straightforward thanks to the following great open source libraries:</p>
<ul>
<li><a href="http://www.crummy.com/software/BeautifulSoup/">Beautiful Soup Python HTML/XML parser</a></li>
<li><a href="http://jquery.com/">jQuery JavaScript Library</a></li>
<li><a href="http://960.gs/">960 CSS Grid System</a></li>
<li><a href="http://html5boilerplate.com/">HTML5 Boilerplate and included libraries</a></li>
<li><a href="http://code.google.com/appengine/docs/python/tools/webapp/">The webapp Framework</a> with <a href="http://www.djangoproject.com/">Django Templates</a></li>
</ul>
<p>DOMXSSscanner.com has Google Analytics enabled, if you wish you can <a href="http://tools.google.com/dlpage/gaoptout">opt out of Google Analytics</a> using the available browser extensions.</p>
<hr>
<a href="http://github.com/yaph/domxssscanner"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork domxsssxanner on GitHub"></a>
{% endblock %}