{% extends 'post.html' %}

{% block title %}Articles about DOM based XSS | DOM XSS Scanner{% endblock %}

{% block header %}<h1 class="title">Articles about DOM based XSS</h1>{% endblock %}

{% block content %}
<p>This page lists articles and other resources with information about DOM based XSS attacks and measures against them.</p>
<hr>
<h3>English Articles and Resources</h3>
<ul>
<li><a href="https://code.google.com/p/domxsswiki/">Dom XSS Test Cases Wiki</a></li>
<li><a href="http://www.owasp.org/index.php/DOM_Based_XSS">OWASP: DOM Based XSS</a></li>
<li><a href="http://www.owasp.org/index.php/Testing_for_DOM-based_Cross_site_scripting_(OWASP-DV-003)">Testing for DOM-based Cross site scripting (OWASP-DV-003)</a></li>
<li><a href="http://www.owasp.org/index.php/DOM_based_XSS_Prevention_Cheat_Sheet">DOM based XSS Prevention Cheat Sheet</a></li>
<li><a href="http://www.webappsec.org/projects/articles/071105.shtml">DOM Based Cross Site Scripting or XSS of the Third Kind</a></li>
<li><a href="http://blog.mindedsecurity.com/2010/09/twitter-domxss-wrong-fix-and-something.html">A Twitter DomXss, a wrong fix and something more</a></li>
<li><a href="http://www.gdssecurity.com/l/b/2010/03/12/multiple-dom-based-xss-in-dojo-toolkit-sdk/">Multiple DOM-Based XSS in Dojo Toolkit SDK</a></li>
<li><a href="http://en.wikipedia.org/wiki/Cross-site_scripting">Wikipedia: Cross-site scripting</a></li>
</ul>
<hr>
<h3>Deutsche Artikel und Ressourcen</h3>
<ul>
<li><a href="http://it-republik.de/php/artikel/DOMXSS---Angriffe-aus-dem-Nirgendwo-3565.html">DOMXSS - Angriffe aus dem Nirgendwo</a></li>
<li><a href="http://www.heise.de/security/artikel/Sicherheit-von-Webanwendungen-270870.html">Sicherheit von Webanwendungen</a></li>
<li><a href="http://it-republik.de/php/news/About-Security-165-Schwachstellensuche-DOM-basiertes-XSS-044325.html">About Security #165: Schwachstellensuche: DOM-basiertes XSS</a></li>
<li><a href="http://de.wikipedia.org/wiki/Cross-Site_Scripting">Wikipedia: Cross-Site Scripting</a></li>
</ul>
<hr>

{% endblock %}