{% extends 'base.html' %}

{% block title %}DOM XSS Scanner - Find DOM based XSS Security Vulnerabilities{% endblock %}

{% block content %}
<h2>What is DOM XSS Scanner?</h2>
<p>DOM XSS Scanner is an online tool that helps you find potential DOM based cross-site scripting (XSS) security vulnerabilities. To get started simply enter a URL to review the source code of the corresponding resource with DOM XSS sources and sinks being highlighted on the results page.</p>
<p>In addition HTML and XML documents will be searched for included external scripts, most likely JavaScript files, that will be fetched in turn and subsequently displayed on the results page. <a href="/info/about"> Learn more about DOM XSS Scanner.</a></p>
<hr>
<h2>What is DOM Based XSS?</h2>
<blockquote><p>DOM Based XSS (or as it is called in some texts, “type-0 XSS”) is an XSS attack wherein the attack payload is executed as a result of modifying the DOM “environment” in the victim’s browser used by the original client side script, so that the client side code runs in an “unexpected” manner. That is, the page itself (the HTTP response that is) does not change, but the client side code contained in the page executes differently due to the malicious modifications that have occurred in the DOM environment.</p></blockquote>
<p>Source: <a href="http://www.owasp.org/index.php/DOM_Based_XSS">OWASP DOM based XSS</a></p>
<hr>
{% endblock %}

{% block featured %}
<div id="featured" class="container_12 clearfix">
    <div class="grid_5">
        <h2>Security Resources &amp; Tools</h2>
        <ul>
        <li><a href="/info/articles">DOM XSS articles and resources</a></li>
        <li><a href="/info/videos">DOM XSS videos</a></li>
        <li><a href="/info/tools">Free Security Tools</a></li>
        <li><a href="/info/security">General Security Resources</a></li>
        </ul>
    </div>
    <div class="grid_5">
        <h2>Web Security Books</h2>
        <ul>
        <li><a href="http://www.amazon.com/gp/product/0124166008/ref=as_li_ss_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=0124166008&linkCode=as2&tag=dxs-20">The Basics of Web Hacking: Tools and Techniques to Attack the Web</a></li>
        <li><a href="http://www.amazon.com/gp/product/1118026470/ref=as_li_ss_tl?ie=UTF8&tag=dxs-20&linkCode=as2&camp=217145&creative=399373&creativeASIN=1118026470">The Web Application Hacker's Handbook: Finding and Exploiting Security Flaws</a></li>
        </ul>
        <div class="right"><a href="/info/security#security-books">more security books</a></div>
    </div>
    <div class="grid_2">
        <h2>Coder Shirts</h2>
        <a href="http://www.zazzle.com/breaking_the_web_basic_shirt-235708750782184407?rf=238355915198956003"><img src="http://rlv.zcache.com/breaking_the_web_basic_shirt-rab8bc27a37464fafb2cd8031040ecc2e_v2q67_125.jpg?bg=1b1b1b" alt="Breaking the Web Basic Shirt"></a>
    </div>
    <hr>
</div>
{% endblock %}