{% extends 'base.html' %}

{% block title %}DOM XSS Scanner - Find DOM based XSS Security Vulnerabilities{% endblock %}

{% block content %}
<h2>What is DOM XSS Scanner?</h2>
<p>DOM XSS Scanner is an online tool that helps you find potential DOM based XSS security vulnerabilities. To get started simply enter a URL to review the source code of the corresponding resource with DOM XSS sources and sinks being highlighted on the results page.</p>
<p>In addition HTML and XML documents will be searched for included external scripts, most likely JavaScript files, that will be fetched in turn and subsequently displayed on the results page. <a href="/info/about"> Learn more about DOM XSS Scanner.</a></p>
<hr>
<h2>What is DOM Based XSS?</h2>
<blockquote><p>DOM Based XSS (or as it is called in some texts, “type-0 XSS”) is an XSS attack wherein the attack payload is executed as a result of modifying the DOM “environment” in the victim’s browser used by the original client side script, so that the client side code runs in an “unexpected” manner. That is, the page itself (the HTTP response that is) does not change, but the client side code contained in the page executes differently due to the malicious modifications that have occurred in the DOM environment.</p></blockquote>
<p>Source: <a href="http://www.owasp.org/index.php/DOM_Based_XSS">OWASP DOM based XSS</a></p>
<hr>
{% endblock %}

{% block featured %}

<div id="featured" class="container_12 clearfix">

<div class="grid_6">
<h2>Security Resources and Tools</h2>
<ul>
<li><a href="/info/articles">DOM XSS articles and resources</a></li>
<li><a href="/info/videos">DOM XSS videos</a></li>
<li><a href="/info/tools">Free Web Security Tools</a></li>
</ul>
</div>

<div class="grid_6">
<h2>XSS News from Google</h2>
<div id="google_rss"></div>
<script src="https://www.google.com/jsapi?key=ABQIAAAAmrEfcOrtp2tfQZWrdKRqiRRgLGtqzDpo7rXzawFru2yHfjDfOBTo1lOkqdzcPv85A2XGVWrvNe1N6w"></script>
<script src="/static/js/google_rss.js"></script>
</div>

</div>

<hr>

{% endblock %}