{% extends 'base.html' %}

{% block head_scripts %}
  {% if script_urls %}
  <script type="text/javascript">
    var script_urls = '{{ script_urls|safe }}';
  </script>
  {% endif %}
{% endblock %}

{% block header %}<h1 class="title">DOM XSS Scan Results</h1>{% endblock %}

{% block content %}
<div id="responses">
{% include 'response.html' %}
</div>
{% endblock %}

{% block body_scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="/static/js/script.js"></script>
<script src="/static/js/dxsform.js"></script>
{% endblock %}
