{% extends 'base.html' %}

{% block head_scripts %}
  {% if script_urls %}
  <script type="text/javascript">
    var script_urls = '{{ script_urls|safe }}';
  </script>
  {% endif %}
{% endblock %}

{% block content %}
<div id="responses">
{% include 'response.html' %}
</div>
{% endblock %}

{% block body_scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script>!window.jQuery && document.write(unescape('%3Cscript src="/static/js/lib/jquery-1.5.0.js"%3E%3C/script%3E'))</script>
<script src="/static/js/script.js"></script>
{% endblock %}