{% extends 'post.html' %}

{% block title %}General Security Resources | DOM XSS Scanner{% endblock %}

{% block content %}

<h2>General Security Resources</h2>
<p>This page is a list of links to guides, tutorials, blogs, news sites, data bases, and books that cover various aspects of security.</p>
<hr>

<h3>Security Guides and Tutorials</h3>
<ul>
<li><a href="http://code.google.com/p/owasp-development-guide/wiki/Guide">OWASP Development Guide</a></li>
<li><a href="https://www.owasp.org/index.php/OWASP_Secure_Coding_Practices_-_Quick_Reference_Guide">OWASP Secure Coding Practices Quick Reference Guide</a></li>
<li><a href="http://code.google.com/edu/security/">Google Code University Web Security Course</a></li>
<li><a href="http://google-gruyere.appspot.com/">Web Application Exploits and Defenses</a></li>
<li><a href="http://www.w3.org/Security/faq/">The World Wide Web Security FAQ</a></li>
<li><a href="http://code.google.com/p/browsersec/wiki/Main">Browser Security Handbook</a></li>
<li><a href="http://code.google.com/p/html5security/">html5security - HTML5 Security Cheatsheet</a></li>
<li><a href="http://googlewebmastercentral.blogspot.com/2011/05/website-security-for-webmasters.html">Website Security for Webmasters at Google Webmaster Central</a></li>
<li><a href="http://www.smashingmagazine.com/2010/10/18/common-security-mistakes-in-web-applications/">Common Security Mistakes in Web Applications - Smashing Magazine</a></li>
<li><a href="http://cwe.mitre.org/top25/">CWE - 2010 CWE/SANS Top 25 Most Dangerous Programming Errors</a></li>
<li><a href="http://shortrecipes.blogspot.com/2010/02/anonymous-browsing-internet-using.html">Anonymous Internet browsing using Ubuntu 9.10, Tor and Firefox | Short IT recipes</a></li>
<li><a href="http://www.cyberciti.biz/tips/linux-security.html">20 Linux Server Hardening Security Tips</a></li>
<li><a href="http://www.hueniverse.com/hueniverse/2009/04/explaining-the-oauth-session-fixation-attack.html">Hueniverse: Explaining the OAuth Session Fixation Attack</a></li>
<li><a href="http://php-ids.org/">PHPIDS Web Application Security 2.0</a></li>
<li><a href="http://ha.ckers.org/xss.html">XSS (Cross Site Scripting) Cheat Sheet</a></li>
<li><a href="http://www.mvps.org/winhelp2002/hosts.htm">Blocking Unwanted Parasites with a Hosts File</a></li>
</ul>
<hr>

<h3>Security News and Information</h3>
<ul>
<li><a href="http://www.exploit-db.com/">Exploits Database by Offensive Security</a></li>
<li><a href="http://blog.fortinet.com/">Fortinet FortiGuard Blog</a></li>
<li><a href="http://googleonlinesecurity.blogspot.com/">Google Online Security Blog</a></li>
<li><a href="http://labs.m86security.com/">M86 Security Labs Blog</a></li>
<li><a href="http://nakedsecurity.sophos.com/">Naked Security | News. Opinion. Advice. Research</a></li>
<li><a href="http://malwareint.blogspot.com/">Malware Intelligence Blog. A division of MalwareIntelligence</a></li>
<li><a href="http://blogs.mcafee.com/mcafee-labs">McAfee Labs | Blog Central</a></li>
<li><a href="https://www.schneier.com/">Schneier on Security</a></li>
<li><a href="http://www.itworld.com/security">Security | ITworld</a></li>
<li><a href="http://www.symantec.com/connect/symantec-blogs/sr">Security Blogs Security Response | Symantec Connect Community</a></li>
<li><a href="http://www.computerworld.com/securitytopics/security">Security Topic Center - Computerworld</a></li>
<li><a href="http://www.securityfocus.com/vulnerabilities">SecurityFocus Vulnerabilities Search</a></li>
<li><a href="http://blog.stopbadware.org/">StopBadware.org - StopBadware Blog</a></li>
<li><a href="http://osvdb.org/">The Open Source Vulnerability Database</a></li>
<li><a href="http://www.wired.com/threatlevel/">Wired Threat Level</a></li>
</ul>
<hr>

<h3>Security Books</h3>
<ul>
<li><a href="http://www.amazon.com/gp/product/B005MMUM2W/ref=as_li_ss_tl?ie=UTF8&tag=dxs-20&linkCode=as2&camp=217145&creative=399373&creativeASIN=B005MMUM2W">BackTrack 5 Wireless Penetration Testing Beginner's Guide</a></li>
<li><a href="http://www.amazon.com/gp/product/1441793747/ref=as_li_ss_tl?ie=UTF8&tag=dxs-20&linkCode=as2&camp=217145&creative=399373&creativeASIN=1441793747">Ghost in the Wires: My Adventures As the World's Most Wanted Hacker</a></li>
<li><a href="http://www.amazon.com/gp/product/0071740643/ref=as_li_ss_tl?ie=UTF8&tag=dxs-20&linkCode=as2&camp=217145&creative=399369&creativeASIN=0071740643">HACKING EXPOSED WEB APPLICATIONS, 3rd Edition</a></li>
<li><a href="http://www.amazon.com/gp/product/159327288X/ref=as_li_ss_tl?ie=UTF8&tag=dxs-20&linkCode=as2&camp=217145&creative=399373&creativeASIN=159327288X">Metasploit: The Penetration Tester's Guide</a></li>
<li><a href="http://www.amazon.com/gp/product/1597495433/ref=as_li_ss_tl?ie=UTF8&tag=dxs-20&linkCode=as2&camp=217145&creative=399369&creativeASIN=1597495433">Seven Deadliest Web Application Attacks (Seven Deadliest Attacks)</a></li>
<li><a href="http://www.amazon.com/gp/product/0470639539/ref=as_li_ss_tl?ie=UTF8&tag=dxs-20&linkCode=as2&camp=217145&creative=399369&creativeASIN=0470639539">Social Engineering: The Art of Human Hacking</a></li>
<li><a href="http://www.amazon.com/gp/product/1118026470/ref=as_li_ss_tl?ie=UTF8&tag=dxs-20&linkCode=as2&camp=217145&creative=399373&creativeASIN=1118026470">The Web Application Hacker's Handbook: Finding and Exploiting Security Flaws</a></li>
<li><a href="http://www.amazon.com/gp/product/0071776168/ref=as_li_ss_tl?ie=UTF8&tag=dxs-20&linkCode=as2&camp=217145&creative=399373&creativeASIN=0071776168">Web Application Security, A Beginner's Guide</a></li>
<li><a href="http://www.amazon.com/gp/product/0596514832/ref=as_li_ss_tl?ie=UTF8&tag=dxs-20&linkCode=as2&camp=217145&creative=399369&creativeASIN=0596514832">Web Security Testing Cookbook: Systematic Techniques to Find Problems Fast</a></li>
</ul>
<hr>

{% endblock %}