{% extends 'post.html' %}

{% block title %}Free Web and Network Security Tools | DOM XSS Scanner{% endblock %}

{% block content %}
<h2>Free Web and Network Security Tools</h2>
<p>This page lists free Web security tools that you can use to scan Web sites for security related issues or to protect yourself against attacks.</p>
<hr>
<h3>Security Tools for the Desktop</h3>
<ul>
<li><a href="http://zapotek.github.com/arachni/">Arachni Web Application Security Scanner Framework</a></li>
<li><a href="http://www.owasp.org/index.php/JBroFuzz">JBroFuzz web application fuzzer</a></li>
<li><a href="http://www.alobbs.com/macchanger/">GNU Mac Changer | Alvaro's web site</a></li>
<li><a href="http://www.gnupg.org/">GNU Privacy Guard - GnuPG.org</a></li>
<li><a href="http://www.getmantra.com/">Mantra - Free and Open Source Browser based Security Framework</a></li>
<li><a href="http://www.metasploit.com/">Metasploit Penetration Testing  Software</a></li>
<li><a href="http://www.cirt.net/nikto2">Nikto Open Source web server scanner</a></li>
<li><a href="http://www.parosproxy.org/">Paros web application security assessment</a></li>
<li><a href="http://preyproject.com/">Prey - Track down your stolen laptop</a></li>
<li><a href="http://code.google.com/p/skipfish/">skipfish web application security scanner</a></li>
<li><a href="http://www.truecrypt.org/">TrueCrypt - Free Open-Source On-The-Fly Disk Encryption Software for Windows Vista/XP, Mac OS X and Linux</a></li>
<li><a href="http://w3af.sourceforge.net/">w3af Web Application Attack and Audit Framework</a></li>
<li><a href="http://wapiti.sourceforge.net/">Wapiti Web application security auditor</a></li>
<li><a href="http://www.owasp.org/index.php/Category:OWASP_WebScarab_Project">WebScarab security testing on web applications and web services</a></li>
<li><a href="http://www.websecurify.com/">Websecurify | Web Application Security Scanner and Manual Penetration Testing Tool</a></li>
<li><a href="https://github.com/WebExploitationFramework/wXf">wXf Web Exploitation Framework</a></li>
<li><a href="http://code.google.com/p/wfuzz/">wfuzz - Web application bruteforcer</a></li>
</ul>
<hr>

<h3>Web based Security Tools</h3>
<ul>
<li><a href="http://uptime.netcraft.com/up/graph">Netcraft What's That Site Running Results</a></li>
<li><a href="http://webscantest.com/">Web Scanner Test Site</a></li>
</ul>
<hr>

<h3>Security Firefox Add-ons</h3>
<ul>
<li><a href="https://addons.mozilla.org/en-US/firefox/addon/noscript/">NoScript run executable code only from trusted domains</a></li>
<li><a href="http://codebutler.github.com/firesheep/">Firesheep</a></li>
</ul>
<hr>

<h3>Security Chrome Extensions</h3>
<ul>
<li><a href="https://chrome.google.com/extensions/detail/ghgabhipcejejjmhhchfonmamedcbeod?hl=en">Click&amp;Clean Delete your browsing history</a></li>
<li><a href="https://chrome.google.com/extensions/detail/odjhifogjcknibkahlpidmdajjpkkcfn?hl=en">NotScripts whitelist trusted sites</a></li>
</ul>
<hr>

<h3>Other Security Tools Lists</h3>
<ul>
<li><a href="https://www.owasp.org/index.php/Phoenix/Tools">Phoenix/Tools - OWASP</a></li>
<li><a href="https://fedorahosted.org/security-spin/wiki/availableApps">Fedora Security Lab distribution package list</a></li>
<li><a href="http://sectools.org/web-scanners.html">Top 10 Web Vulnerability Scanners</a></li>
<li><a href="http://sectools.org/crackers.html">Top 10 Password Crackers</a></li>
<li><a href="http://www.junauza.com/2008/07/10-best-hacking-and-security-software.html">10 Best Hacking and Security Software Tools for Linux</a></li>
<li><a href="http://www.junauza.com/2009/06/10-more-hacking-and-security-software.html">10 (More) Hacking and Security Software Tools for Linux</a></li>
</ul>
<hr>

{% endblock %}