{% extends 'post.html' %}

{% block title %}Web Security Videos | DOM XSS Scanner{% endblock %}

{% block content %}
<h2>Videos about DOM based XSS</h2>
<div id="videos">
<object width="900" height="536"><param name="movie" value="http://www.youtube.com/p/FAC1D632FD4F74FA?hl=en_US&fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/p/FAC1D632FD4F74FA?hl=en_US&fs=1" type="application/x-shockwave-flash" width="900" height="536" allowscriptaccess="always" allowfullscreen="true"></embed></object>
</div>
<hr>
{% endblock %}